//More => Menu Items

//Menu Wrapper
.menu-list {
  width: 224px;

  //Menu Item
  .menu-item {
    padding: 10px 16px;
    margin-left: 0;
    background-color: transparent;
    justify-content: flex-start;
    width: 100%;
    font-size: 1.4rem;

    &.separate{
      border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
    &:hover {
      background-color: rgba(22, 24, 35, 0.03);
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

//Header Menu

.header {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: -8px;
}

.back-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}